* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    padding: 5px;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-left: 36px;
}

#ulnav {
    list-style-type: none;
    margin-left: 90px;
    margin-top: 50px;
    padding: 0;
    overflow: hidden;
    color: black;
}

.linav {
    display: inline;
    margin-right: 2px;
    color: black;
    text-decoration: none;
}

a {
    padding: 9px;
    background-color: dark black;
}

#inicio {
    margin-left: 36px;
    height: 450px;
    width: 720px;
    position: relative;
}

#tituloInicial {
    font-size: 63px;
    font-style: bold;
    padding-top: 9px;
}

.parrafoInicial {
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 45px;
}

#fotoInicio {
    position: absolute;
    left: 830px;
    top: 120px;
    max-width: 100%;
    height: auto;
    border-radius: 27px;
}

#fotomma {
    position: absolute;
    left: 54px;
    top: 670px;
    max-width: 100%;
    height: auto;
    border-radius: 27px;
}

#mmadiv {
    margin-left: 680px;
    margin-top: 90px;
    height: 400px;
    width: 720px;
    position: relative;
}

#titulomma {
    font-size: 63px;
    font-style: bold;
    padding-top: 9px;
}

.clases {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 90px;
    text-align: center;
}

.clases-titulo {
    font-size: 45px;
    font-style: bold;
    text-align: center;
    padding-top: 63px;
    padding-bottom: 27px;
}

.clasep {
    display: inline-table;
    width: 30%;
    max-width: 280px;
    margin-left: 63px;
    padding-right: 90px;
    text-align: center;
}

.imgli {
    padding-left: 36px;
}

.clasep h2 {
    font-weight: bold;
    font-size: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 45px;
}

.clase-descripcion {
    font-size: 18px;
    padding-left: 36px;
    padding-bottom: 9px;
}

#producto-titulo {
    font-size: 45px;
    margin-left: 36px;
    font-style: bold;
    text-align: left;
    padding-top: 27px;
    padding-bottom: 9px;
}

#contactosubtitulo {
    font-size: 18px;
    margin-left: 36px;
    font-style: bold;
    text-align: left;
    padding-top: 9px;
    padding-bottom: 9px;
}

#contacto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#datocontacto {
    margin-left: 36px;
    height: 450px;
    width: 720px;
    position: relative;
}

#mapa {
    position: absolute;
    left: 720px;
    top: 90px;
    max-width: 100%;
    height: auto;
}

.datos {
    display: block;
    margin-left: 36px;
    padding-bottom: 18px;
    padding-top: 9px;
}

.info1 {
    display: block;
    margin-top: -54px;
    margin-left: 99px;
    padding-bottom: 3px;
    font-style: bold;
}

.info2 {
    display: block;
    margin-left: 99px;
    padding-bottom: 3px;
}

.info3 {
    display: block;
    margin-left: 99px;
}

#claselogo {
    display: inline;
}

#logomapa {
    margin-left: 63px;
}

#listadatos1 {
    display: inline-block;
    margin-left: 810px;
    margin-top: -360px;
}

#listadatos1 li {
    display: inline;
    padding-top: 18px;
}

#listadatos2 {
    display: inline-block;
    margin-left: 1062px;
    margin-top: -540px;
}

#listadatos2 li {
    display: inline;
    padding-top: 18px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 10%;
    margin: auto;
}