

/* Define los estilos para el contenedor del carrusel */
.carrusel {
    overflow: hidden; /* Oculta los logos que se salen del contenedor */
    white-space: nowrap; /* Evita que los logos se desplacen a la siguiente línea */
}

/* Aplica la animación al contenedor del carrusel */
.logos-container {
    display: flex;
    animation: desplazamiento 20s linear infinite; /* Ajusta la duración y la repetición */
}

.logo-patro {
    margin-left: 36px;
    margin-right: 60px;
    /* Espacio entre logos */
}

/* Define los estilos para cada logo */
.logo-patro img {
    margin-right: 45px; /* Espacio entre los logos */
    height: 90px; /* Altura de los logos */
    width: 90px; /* Ancho de los logos */
    display: inline-block; /* Alinea los logos horizontalmente */
    /* Para IE8 y versiones anteriores */
}

/* Define la animación */
@keyframes desplazamiento {
    0% {
        transform: translateX(0); /* Inicia sin desplazamiento */
    }
    100% {
        transform: translateX(-150%); /* Desplaza completamente hacia la izquierda */
    }
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-footer {
    margin-bottom: 10px;
}

.redes-sociales img, .medios-pago img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.footer-info {
    margin-top: 20px;
}

/* Media queries para hacerlo responsive */

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .redes-sociales, .medios-pago {
        margin-top: 10px;
    }
}