<!-- Clases en cuadros -->
<div class="container mt-3">
    <h1 class="titulo-clases">Clases de Jiu Jitsu para todos los niveles y edades</h1>
    <div class="row-clase row">
        <div class="col-md-4">
            <div class="card h-100">
                <img src="img/clases/BJJ-kids.webp" class="card-image card-img-top" style="height: 270px; object-fit: contain;"
                    alt="Clases Niños">
                <div class="card-body">
                    <h5 class="card-title">Clases especializadas de BJJ acorde a tus necesidades</h5>
                    <p class="card-text">Nuestros clases de BJJ están enfocados en los diferentes niveles de
                        nuestros estudiantes y de sus objetivos dentro del BJJ.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img src="img/clases/bjj-alcaldia.webp" class="card-image card-img-top" style="height: 270px; object-fit: contain;"
                    alt="Profesores">
                <div class="card-body">
                    <h5 class="card-title">Instructores expertos con años de experiencia de práctica y docencia</h5>
                    <p class="card-text">Nuestros instructores están altamente capacitados y son ganadores de
                        medallas tanto de BJJ como de MMA en sus diferentes categorías</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img src="img/clases/bjj-mañana.webp" class="card-image card-img-top" style="height: 270px; object-fit: contain;"
                    alt="Horarios">
                <div class="card-body">
                    <h5 class="card-title">Horarios de entrenamiento flexibles para ajustarse a tu ritmo de vida
                    </h5>
                    <p class="card-text">Ofrecemos diferentes horarios de entrenamiento en BJJ y MMA para aquellos
                        jiujitseros con una agenda exigente.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>