<!-- Clases en cuadros -->
<br>
<h1 class="display-4">Clases de Jiu Jitsu para todos los niveles y edades</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="/img/clases/BJJ-kids.JPG" class="card-img-top" style="height: 300px; object-fit: contain;" alt="Clases Niños">
            <div class="card-body">
                <h5 class="card-title">Clases especializadas de BJJ acorde a tus necesidades</h5>
                <p class="card-text">Nuestros clases de BJJ están enfocados en los diferentes niveles de nuestros estudiantes y de sus objetivos dentro del BJJ.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/img/clases/bjj-alcaldia.JPG" class="card-img-top" style="height: 300px; object-fit: contain;" alt="Profesores">
            <div class="card-body">
                <h5 class="card-title">Instructores expertos con años de experiencia de práctica y docencia</h5>
                <p class="card-text">Nuestros instructores están altamente capacitados y son ganadores de medallas tanto de BJJ como de MMA en sus diferentes categorías</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/img/clases/bjj-mañana.jpg" class="card-img-top" style="height: 300px; object-fit: contain;" alt="Horarios">
            <div class="card-body">
                <h5 class="card-title">Horarios de entrenamiento flexibles para ajustarse a tu ritmo de vida</h5>
                <p class="card-text">Ofrecemos diferentes horarios de entrenamiento en BJJ y MMA para aquellos con una agenda exigente.</p>
            </div>
        </div>
    </div>
    
</div>