<!-- Contacto -->
<div class="container-fluid mt-3 ms-3">
    <div class="contacto-row row">
        <div class="col-md-4">
            <h2 style="text-align: center;">Información de contacto</h2>
            <ul class="mt-3">
                <li><strong>Dirección:</strong> Calle 15 #15 - 45, Tercer Piso, Funza</li>
                <li><strong>Teléfono:</strong> +57 304 652 0746</li>
                <!-- <li><strong>Correo electrónico:</strong><br>cimajiu-jitsu@gmail.com</li> -->
            </ul>
        </div>
        <div class="col-ima col-md-7">
            <!-- Aquí va el mapa de Google -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.2993668983095!2d-74.21203788729703!3d4.717971483540542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f83a28cf1c30f%3A0x9c6a5fe9c262beed!2sCima%20Jiu%20Jitsu%20Funza.!5e0!3m2!1ses-419!2sco!4v1727122684733!5m2!1ses-419!2sco" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>