<!-- Contacto -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Información de contacto</h2>
            <ul>
                <li><strong>Dirección:</strong> 123 Calle Principal, Ciudad</li>
                <li><strong>Teléfono:</strong> +1234567890</li>
                <li><strong>Correo electrónico:</strong> correo@example.com</li>
            </ul>
        </div>
        <div class="col-md-6">
            <!-- Aquí incrusta el mapa de Google -->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.3273892021757!2d-74.21404282546841!3d4.713076441551076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f83a28cf1c30f%3A0x9c6a5fe9c262beed!2sCima%20Jiu%20Jitsu%20Funza.!5e0!3m2!1ses-419!2sco!4v1713232441715!5m2!1ses-419!2sco"
                width="630" height="360" title="CIMA Jiu-Jitsu" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>