<!-- Pie de página -->
<div class="container ms-3">
    <div class="row">
        <footer>
            <div class="footer-content">
                <div class="logo-footer">
                    <a href="#hero"><img src="img/logos/Logo-CIMA.webp" alt="Logo" style="max-width: 90px; max-height: 90px;"></a>
                </div>
                <div class="redes-sociales">
                    <a href="https://www.instagram.com/cimajiujitsu/"><img src="img/redes/instagram.webp" alt="Instagram"></a>
                    <a href="https://api.whatsapp.com/send?phone=573046520746"><img src="img/redes/whatsapp.webp" alt="Instagram"></a>
                </div>
                <div class="medios-pago">
                    <img src="img/medios-pago/daviplata.webp" alt="Daviplata">
                    <img src="img/medios-pago/nequi.webp" alt="Nequi">
                </div>
            </div>
            <div class="footer-info">
                <p><a href="mailto:jorge_mar73@hotmail.com">Diseñado por: Jorge Martinez Web & App Design and Development</a></p>
                <p><a href="#">Política de privacidad</a> | <a href="#">Política de cookies</a></p>
            </div>
        </footer>
    </div>

</div>

