<!-- Pie de página -->

<footer>
    <div class="footer-content">
        <div class="logo-footer">
            <a href="#"><img src="/img/logos/Logo-CIMA.jpg" alt="Logo" style="max-width: 90px; max-height: 90px;"></a>
        </div>
        <div class="redes-sociales">
            <a href="#"><img src="/img/redes/facebook.svg" alt="Facebook"></a>
            <a href="#"><img src="/img/redes/instagram.svg" alt="Instagram"></a>
            <a href="#"><img src="/img/redes/whatsapp.png" alt="Instagram"></a>
        </div>
        <div class="medios-pago">
            <img src="/img/medios-pago/daviplata.jpg" alt="Daviplata">
            <img src="/img/medios-pago/nequi.jpeg" alt="Nequi">
        </div>
    </div>
    <div class="footer-info">
        <p><a href="mailto:jorge_mar73@hotmail.com">Diseñado por: Jorge Martinez Web & App Design and Development</a></p>
        <p><a href="#">Política de privacidad</a> | <a href="#">Política de cookies</a></p>
    </div>
</footer>
