<!-- hero.html -->
<!-- Primera sección -->
<div class="container-fluid ms-3">
    <div class="row">
        <!-- Columna izquierda para texto y título -->
        <div class="col-md-6">
            <h1>Descubre el poder del Jiu-Jitsu Brasileño</h1>
            <p>Experimenta los beneficios de aprender Jiu-Jitsu Brasileño, uniéndote a nuestra
                academia de BJJ y a nuestra creciente comunidad de practicantes de BJJ.</p>
            <p>Nuestras clases de BJJ para niños o de BJJ para principiantes permitirán que te
                acerques de manera segura a la práctica de este deporte y avanzar en la consecución de tus cinturones de
                BJJ.</p>
        </div>
        <!-- Columna derecha para galería de fotos -->
        <div class="col-md-6">
            <!-- Agrega tu galería de fotos aquí -->
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/carrusel/chicas1.webp" class="d-block w-100"
                            style="height: 300px; object-fit: contain;" alt="Clase Girls">
                    </div>
                    <div class="carousel-item">
                        <img src="img/carrusel/chicas2.webp" class="d-block w-100"
                            style="height: 300px; object-fit: contain;" alt="Clase Girls">
                    </div>
                    <div class="carousel-item">
                        <img src="img/carrusel/kids1.webp" class="d-block w-100"
                            style="height: 300px; object-fit: contain;" alt="Clase Kids">
                    </div>
                    <div class="carousel-item">
                        <img src="img/carrusel/kids2.webp" class="d-block w-100"
                            style="height: 300px; object-fit: contain;" alt="Clase Kids">
                    </div>
                    <div class="carousel-item">
                        <img src="img/carrusel/mma1.webp" class="d-block w-100"
                            style="height: 300px; object-fit: contain;" alt="Clase MMA">
                    </div>
                    <div class="carousel-item">
                        <img src="img/carrusel/mma2.webp" class="d-block w-100"
                            style="height: 300px; object-fit: contain;" alt="Clase MMA">
                    </div>
                    <!-- Agrega más imágenes según sea necesario -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Segunda sección -->
<div class="container-fluid mt-5 ms-3">
    <div class="row">
        <div class="col-md-6">
            <img src="img/clases/mma.webp" class="img-fluid" style="height: 300px; object-fit: contain;" alt="Clase MMA">
        </div>
        <div class="col-md-6">
            <h1>Beneficios de la práctica del MMA</h1>
            <p>Con la práctica del Jiu Jitsu brasileño y de las artes marciales mixtas o MMA, aumentas no sólo tu capacidad física sino también mejoras tu disciplina, fortaleces tu carácter y otras habilidades blandas tan necesarias hoy en nuestro día a día.</p>
            <p>Ven y descubre todas las cosas que puedes hacer por tu vida dentro de la academia de Jiu-Jitsu.</p>
        </div>
    </div>
</div>