<!-- logros.html -->
<div class="container mt-3">
    <h1>LOGROS 2024 DE NUESTROS ATLETAS</h1>
    <br>
    <p class="hero-paragraph">Este 2024 ha sido un año de grandes retos y logros obtenidos con el sudor y dedicación de
        nuestro atletas en sus
        categorías. El esfuerzo de ellos, de sus padres, de sus instructores, todas esas mañanas y tardes entrenando,
        las lágrimas y alegrías invertidas han rendido los
        mejores frutos tanto para ellos como para la academia. Tu hijo o tu pueden formar parte de este proceso. ¿Qué
        esperas para iniciar esta aventura?
    </p>
    <br>
    <h1>Ven e inscríbete para comenzar tu camino de logros en el Jiu-Jitsu</h1>
    <br>
    <div class="card-group">
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/equipo/logros-2024/3.png" class="img-fluid rounded-start" alt="Esperanza Martínez">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://www.instagram.com/bjj_esperanza_mc/">Esperanza Martínez</a></h5>
                            <p class="card-text">Cinturón Amarillo.</p>
                            <p class="card-text">Compitió en 48kg, 52kg y 57kg GI y NO-GI.</p>
                            <p class="card-text">Campeona Panamericana Sub 16 52kg GI Newasa.</p>
                            <ul class="list-group">
                                <li class="list-group-item">5 Medallas de Oro</li>
                                <li class="list-group-item">1 Medalla de Plata</li>
                                <li class="list-group-item">2 Medallas de Bronce</li>
                            </ul>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/equipo/logros-2024/11.png" class="img-fluid rounded-start" alt="Nicolás Mora">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://www.instagram.com/nicolas.mora_bjj">Nicolás Mora</a></h5>
                            <p class="card-text">Cinturón gris.</p>
                            <p class="card-text">Compitió en 21kg y 27kg GI.</p>
                            <ul class="list-group">
                                <li class="list-group-item">4 Medallas de Oro</li>
                            </ul>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/equipo/logros-2024/6.png" class="img-fluid rounded-start" alt="Maximiliano Navas">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://www.instagram.com/maxibjj22/">Maximiliano Navas</a></h5>
                            <p class="card-text">Cinturón gris.</p>
                            <p class="card-text">Compitió en 27kg y 30kg GI.</p>
                            <ul class="list-group">
                                <li class="list-group-item">3 Medallas de Oro</li>
                            </ul>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/equipo/logros-2024/8.png" class="img-fluid rounded-start" alt="Miguel Montero">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Miguel Montero</h5>
                            <p class="card-text">Cinturón blanco.</p>
                            <p class="card-text">Compitió en 27kg GI.</p>
                            <ul class="list-group">
                                <li class="list-group-item">3 Medallas de Oro</li>
                            </ul>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/equipo/logros-2024/10.png" class="img-fluid rounded-start" alt="Thailenny Nieto">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://www.instagram.com/thailenny_nieto">Thailenny Nieto</a></h5>
                            <p class="card-text">Cinturón gris.</p>
                            <p class="card-text">Compitió en 22kg GI.</p>
                            <ul class="list-group">
                                <li class="list-group-item">3 Medallas de Oro</li>
                            </ul>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/equipo/logros-2024/5.png" class="img-fluid rounded-start" alt="Julián Cruz">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Julián Cruz</h5>
                            <p class="card-text">Cinturón blanco.</p>
                            <p class="card-text">Compitió en 45kg GI.</p>
                            <ul class="list-group">
                                <li class="list-group-item">2 Medallas de Plata</li>
                                <li class="list-group-item">2 Medallas de Bronce</li>
                            </ul>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/equipo/logros-2024/9.png" class="img-fluid rounded-start" alt="Nicolás Montero">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nicolás Montero</h5>
                            <p class="card-text">Cinturón blanco.</p>
                            <p class="card-text">Compitió en 27kg y 30kg GI.</p>
                            <ul class="list-group">
                                <li class="list-group-item">2 Medallas de Plata</li>
                                <li class="list-group-item">2 Medallas de Bronce</li>
                            </ul>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/equipo/logros-2024/7.png" class="img-fluid rounded-start" alt="Meilyn Cadena">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Meilyn Cadena</h5>
                            <p class="card-text">Cinturón gris.</p>
                            <p class="card-text">Compitió en 25kg y 28kg GI.</p>
                            <ul class="list-group">
                                <li class="list-group-item">2 Medallas de Plata</li>
                                <li class="list-group-item">1 Medalla de Bronce</li>
                            </ul>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/equipo/logros-2024/1.png" class="img-fluid rounded-start" alt="Dilan Sarmiento">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Dilan Sarmiento</h5>
                            <p class="card-text">Cinturón gris.</p>
                            <p class="card-text">Compitió en 30kg GI.</p>
                            <ul class="list-group">
                                <li class="list-group-item">2 Medallas de Plata</li>
                            </ul>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/equipo/logros-2024/12.png" class="img-fluid rounded-start" alt="Juan Castro">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://www.instagram.com/cajues.bjj/">Juan Esteban Castro</a></h5>
                            <p class="card-text">Cinturón blanco.</p>
                            <p class="card-text">Compitió en 66kg GI.</p>
                            <ul class="list-group">
                                <li class="list-group-item">1 Medalla de Plata</li>
                            </ul>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/equipo/logros-2024/2.png" class="img-fluid rounded-start" alt="Emmanuel García">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Emmanuel García</h5>
                            <p class="card-text">Cinturón gris.</p>
                            <p class="card-text">Compitió en 21kg y 27kg GI.</p>
                            <ul class="list-group">
                                <li class="list-group-item">2 Medallas de Bronce</li>
                            </ul>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>