<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ms-3">
        <a class="navbar-brand" href="#hero">
            <img src="img/logos/Logo-CIMA.webp" alt="Logo" height="50"> <!--Ubicación del logo-->
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#hero">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#clases">Clases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>