<!-- Patrocinadores -->
<br>
<br>
<div class="carrusel">
    <div class="logos-container">
        <div class="logo"><img src="/img/logos/cibologrup-colombia-sas.jpg" alt="Logo 1"></div>
        <div class="logo"><img src="/img/logos/Jeimmy-villamil.JPG" alt="Logo 2"></div>
        <div class="logo"><img src="/img/logos/Logo-CIMA.jpg" alt="Logo 3"></div>
        <div class="logo"><img src="/img/logos/McGreBurger.jpg" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/motos-arley-c.jpg" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/Mr-Chicken-Funza.jpg" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/panaderia_marisol.jpg" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/Qamis-ld.jpg" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/raul_agudelo.jpg" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/Zaisberg.png" alt="Logo 4"></div>
        <!-- Añadir más logos aquí según sea necesario -->
    </div>
</div>
<br>