<!-- Patrocinadores -->
<br>
<br>
<div class="carrusel">
    <div class="logos-container">
        <div class="logo"><img src="/img/logos/cibologrup-colombia-sas.webp" alt="Logo 1"></div>
        <div class="logo"><img src="/img/logos/Jeimmy-villamil.webp" alt="Logo 2"></div>
        <div class="logo"><img src="/img/logos/Logo-CIMA.webp" alt="Logo 3"></div>
        <div class="logo"><img src="/img/logos/McGreBurger.webp" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/motos-arley-c.webp" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/Mr-Chicken-Funza.webp" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/panaderia_marisol.webp" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/Qamis-ld.webp" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/raul_agudelo.webp" alt="Logo 4"></div>
        <div class="logo"><img src="/img/logos/Zaisberg.webp" alt="Logo 4"></div>
        <!-- Añadir más logos aquí según sea necesario -->
    </div>
</div>
<br>