<!-- Productos -->
<div class="container mt-3">
    <h1>Productos</h1>
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="../img/productos/Mochila.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Mochila">
                <div class="card-body">
                    <h5 class="card-title">Mochila CIMA</h5>
                    <p class="card-text">Mochila para llevar todo tu staff para practicar BJJ o MMA.</p>
                    <p class="card-text">Talla única</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="../img/productos/Camiseta Cima 3.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Camiseta MMA">
                <div class="card-body">
                    <h5 class="card-title">Camiseta MMA</h5>
                    <p class="card-text">Camiseta para práctica de MMA o No GI.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="../img/productos/Camiseta Padres 2.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Camiseta MMA">
                <div class="card-body">
                    <h5 class="card-title">Camiseta MMA</h5>
                    <p class="card-text">Camiseta para práctica de MMA o No GI.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="img/productos/conjunto.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Conjunto">
                <div class="card-body">
                    <h5 class="card-title">Conjunto MMA</h5>
                    <p class="card-text">Conjunto de camiseta y pantaloneta para no GI.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="img/productos/busocapucha1.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Buzo Azul Celeste">
                <div class="card-body">
                    <h5 class="card-title">Buso azul</h5>
                    <p class="card-text">Buso con capucha para acompañar tus salidas.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="img/productos/busocapucha2.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Buzo morado">
                <div class="card-body">
                    <h5 class="card-title">Buso Morado</h5>
                    <p class="card-text">Buso con capucha para acompañar tus salidas.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="img/productos/buzo-naranja.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Buzo Naranja">
                <div class="card-body">
                    <h5 class="card-title">Buso Naranja</h5>
                    <p class="card-text">Buso con capucha para acompañar tus salidas.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>
        
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="img/productos/pantaloneta.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Pantaloneta">
                <div class="card-body">
                    <h5 class="card-title">Pantaloneta MMA</h5>
                    <p class="card-text">Pantaloneta para entrenamiento de no GI.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>
    </div>
</div>
