<!-- Productos -->
<div class="container">
    <h1 class="display-4">Productos</h1>
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/productos/bolsa.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Mochila">
                <div class="card-body">
                    <h5 class="card-title">Mochila CIMA</h5>
                    <p class="card-text">Mochila para llevar todo tu staff para practicar BJJ o MMA.</p>
                    <p class="card-text">Talla única</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/productos/buso1.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Camiseta MMA">
                <div class="card-body">
                    <h5 class="card-title">Camiseta MMA</h5>
                    <p class="card-text">Camiseta para práctica de MMA o No GI.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/productos/buso2.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Camiseta MMA">
                <div class="card-body">
                    <h5 class="card-title">Camiseta MMA</h5>
                    <p class="card-text">Camiseta para práctica de MMA o No GI.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/productos/conjunto.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Conjunto">
                <div class="card-body">
                    <h5 class="card-title">Conjunto práctica MMA</h5>
                    <p class="card-text">Conjunto de camiseta y pantaloneta para práctica de MMA o No GI.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/productos/busocapucha1.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Buzo Azul Celeste">
                <div class="card-body">
                    <h5 class="card-title">Buzo azul con capucha</h5>
                    <p class="card-text">Buzo con capucha para acompañar tus momentos de entrenamiento.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/productos/busocapucha2.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Buzo morado">
                <div class="card-body">
                    <h5 class="card-title">Buzo Morado con capucha</h5>
                    <p class="card-text">Buzo con capucha para acompañar tus momentos de entrenamiento.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/productos/buzo-naranja.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Buzo Naranja">
                <div class="card-body">
                    <h5 class="card-title">Buzo Naranja con capucha</h5>
                    <p class="card-text">Buzo con capucha para acompañar tus momentos de entrenamiento.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>
        
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/productos/pantaloneta.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Pantaloneta">
                <div class="card-body">
                    <h5 class="card-title">Pantaloneta</h5>
                    <p class="card-text">Pantaloneta tus entrenamientos en la academia.</p>
                    <p class="card-text">Tallas disponibles: S, M, L, XL</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>
    </div>
</div>
