<!-- Equipo -->

<div class="container mt-3">
    <h1>Equipo</h1>
    <div class="team-row row">
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col">
                        <img src="img/equipo/Alison-Vargas.webp" class="card-img-top"
                            style="height: 266px; object-fit: contain;" alt="Alison Vargas">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://www.instagram.com/alison.vargas_27/">Alison Vargas</a></h5>
                            <p class="card-text">Profesor BJJ y MMA</p>
                            <p class="card-text">Citurón Café</p>
                            <p class="card-text">Encargada del equipo de chicas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row">
                    <div class="col">
                        <img src="img/equipo/Danilo-Rodrigez.webp" class="card-img-top"
                            style="height: 266px; object-fit: contain;" alt="Danilo Rodriguez">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://www.instagram.com/gerdarod/">Danilo Rodriguez</a></h5>
                            <p class="card-text">Profesor BJJ y MMA</p>
                            <p class="card-text">Cinturón Café 3er Dan</p>
                            <p class="card-text">Encargado del equipo de MMA y de BJJ tanto niños como adultos.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row">
                    <div class="col">
                        <img src="../img/equipo/Esperanza-Martinez.webp" class="card-img-top"
                            style="height: 266px; object-fit: contain;" alt="Esperanza Martínez">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://www.instagram.com/bjj_esperanza_mc/">Esperanza Martínez</a></h5>
                            <p class="card-text">Asistente de Docencia</p>
                            <p class="card-text">Cinturón Amarillo</p>
                            <p class="card-text">Soporta a los docentes en las clases de BJJ tanto niños como adultos.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

            </div>
        </div>
    </div>
</div>
