<!-- Equipo -->

<div class="container mt-3">
    <h1>Equipo</h1>
    <div class="team-row row">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-2" style="max-width: 720px;">
                    <div class="row g-0">
                        <div class="col">
                            <img src="img/equipo/Alison-Vargas.webp" class="card-img-top"
                                style="height: 266px; object-fit: contain;" alt="Alison Vargas">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title"><a href="https://www.instagram.com/alison.vargas_27/">Alison Vargas</a></h5>
                                <p class="card-text">Profesor BJJ y MMA</p>
                                <p class="card-text">Citurón Café</p>
                                <p class="card-text">Nutricionista e instructora.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-2" style="max-width: 720px;">
                    <div class="row">
                        <div class="col">
                            <img src="img/equipo/Danilo-Rodrigez.webp" class="card-img-top"
                                style="height: 266px; object-fit: contain;" alt="Danilo Rodriguez">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title"><a href="https://www.instagram.com/gerdarod/">Danilo Rodriguez</a></h5>
                                <p class="card-text">Profesor BJJ y MMA</p>
                                <p class="card-text">Cinturón Negro</p>
                                <p class="card-text">Instructor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
