<!-- Equipo -->
<br>
<div class="container">
    <h1 class="display-4">Equipo</h1>
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/equipo/Alison-Vargas.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Alison Vargas">
                <div class="card-body">
                    <h5 class="card-title">Alison Vargas</h5>
                    <p class="card-text">Profesor BJJ y MMA citurón Café</p>
                    <p class="card-text">Encargada del equipo de chicas y de pasarle el carro a todos los que creen que por su estatura van a poder.</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/equipo/Danilo-Rodrigez.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Danilo Rodriguez">
                <div class="card-body">
                    <h5 class="card-title">Danilo Rodriguez</h5>
                    <p class="card-text">Profesor BJJ y MMA citurón Café 3er Dan</p>
                    <p class="card-text">Encargado del equipo de MMA y de pasarle el carro a todos los que se creen mucho.</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/equipo/Esperanza-Martinez.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Esperanza Martínez">
                <div class="card-body">
                    <h5 class="card-title">Esperanza Martínez</h5>
                    <p class="card-text">Asistente de profesor BJJ y MMA citurón blanco 3er dan</p>
                    <p class="card-text">Encargada del equipo de soportar a los profesores, parte del programa semillero.</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/img/equipo/foto-valentina.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Valentina Arias">
                <div class="card-body">
                    <h5 class="card-title">Valentina Arias</h5>
                    <p class="card-text">Publicidad y redes sociales</p>
                    <p class="card-text">Nos colabora para tener imágenes y videos de encanto en nuestras redes.</p>
                    <!-- Otros detalles del producto, como precio, botón de compra, etc. -->
                </div>
            </div>
        </div>
    </div>
</div>
